/* External CSS example */
body {
    background-color: #f2f2f2;
}

.box {
    width: 300px;
    height: 100px;
    background-color: coral;
    color: white;
    text-align: center;
    line-height: 100px;
    margin: 20px auto;
    border-radius: 10px;
    font-weight: bold;
}
